.modal-wrapper {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s;
    background-color: rgba(0, 0, 0, .7490196078)
}

.modal-wrapper1 {
    padding-top: 10%;
}

.clr-black {
    color: #000 !important
}

.modal-wrapper .modal-content {
    z-index: 1;
    opacity: 0;
    transition: opacity;
    position: relative;
    overflow-x: hidden;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2117647059);
    border-radius: 4px;
    background-color: #f0f1f2;
    color: #4e4e4e;
    overflow-y: auto;
    max-width: 700px;
    width: 95%;
    height: auto;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-wrapper .modal-content .header-wrapper {
    background-color: #375c6d;
    padding: .8em;
    text-align: center;
    color: #fff
}

.modal-wrapper .modal-content .header-wrapper .img-wrapper {
    max-width: 85%;
    margin: 0 auto
}

.modal-wrapper .modal-content .header-wrapper .sub-heading {
    font-family: Merriweather, sans-serif;
    font-size: 1.1em;
    text-align: center
}

.modal-wrapper .modal-content .inner-content {
    padding: 1em .7em .5em
}

.modal-wrapper .modal-content .inner-content .bottles-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin-bottom: .5em
}

.modal-wrapper .modal-content .inner-content .bottles-wrapper .plus {
    color: #375c6d;
    font-size: 6em;
    font-weight: 600;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    line-height: .7
}

.modal-wrapper .modal-content .inner-content .bottles-wrapper img {
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    max-width: 220px
}

.modal-wrapper .modal-content .inner-content .recommended-text {
    font-size: .8em;
    font-style: italic;
    margin-right: 1em;
    margin-left: 1em;
    color: #000
}

.modal-wrapper .modal-content .inner-content .btn.btn__atc {
    background: linear-gradient(180deg, #ffd500, gold, #ffd900, #ffdb00, #ffde00, #ffe000, #ffe200, #ffe400);
    border: 2px solid #aaa
}

.modal-wrapper .modal-content .inner-content .btn.btn__decline {
    background: #375c6d;
    border: 2px solid #375c6d
}

.modal-wrapper .modal-content .inner-content .btn {
    color: #fff;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: .6em 1em;
    margin-top: .7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 4px;
    cursor: pointer;
    display: block
}

.modal-wrapper.active {
    opacity: 1.2;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
    overflow: scroll
}

.modal-wrapper.active .modal-content {
    opacity: 1
}

.img-wrapper img {
    width: 100%
}

.modal-wrapper .modal-content .close-btn:not(a) {
    outline: 0;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 1%;
    opacity: .6;
    transition: .2s ease-in-out
}

@media (min-width: 280px) {
    .x2x-btl img {
        max-width: 80px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        max-width: 95px
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper .plus {
        font-size: 2em
    }
}

@media (min-width: 320px) {
    .x2x-btl img {
        max-width: 90px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        max-width: 105px
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper .plus {
        font-size: 2em
    }

    .modal-wrapper .modal-content .header-wrapper .sub-heading {
        font-size: .7em
    }

    .modal-wrapper .modal-content .inner-content .btn {
        font-size: .8em
    }
}

@media (min-width: 390px) {
    .x2x-btl img {
        max-width: 112px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 130px
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper .plus {
        font-size: 4em
    }
}

@media (min-width: 485px) {
    .modal-wrapper .modal-content .close-btn:not(a) {
        position: absolute;
        right: 1%
    }

    .modal-wrapper .modal-content .header-wrapper {
        padding: .8em 1em
    }

    .modal-wrapper .modal-content .header-wrapper .img-wrapper {
        max-width: 350px
    }

    .modal-wrapper .modal-content .header-wrapper .sub-heading {
        font-size: 1.2em
    }

    .modal-wrapper .modal-content .inner-content {
        padding: 1em 1.5em .5em
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: start;
        align-items: center;
        padding: 20px 0
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper .plus {
        line-height: 1.2;
        font-size: 7em
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 127px
    }
}

@media (min-width: 500px) {
    .x2x-btl img {
        max-width: 125px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 150px
    }
}

@media (min-width: 768px) {
    .modal-wrapper .modal-content {
        border: 5px solid #ffbf00
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper {
        padding: 20px 50px 0 50px
    }

    .modal-wrapper .modal-content .header-wrapper .sub-heading {
        font-size: 1.2em
    }

    .modal-wrapper .modal-content .inner-content .btn {
        font-size: 1.1em
    }

    .x2x-btl img {
        max-width: 150px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 189px
    }
}

@media (min-width: 1024px) {
    .x2x-btl img {
        max-width: 143px !important
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 170px
    }
}

@media (min-width: 1400px) {
    .modal-wrapper .modal-content .header-wrapper .img-wrapper {
        max-width: 500px
    }

    .modal-wrapper .modal-content .header-wrapper .sub-heading {
        font-size: 1.5em
    }

    .modal-wrapper .modal-content .inner-content .bottles-wrapper img {
        -ms-flex: 0 0 380px;
        flex: 0 0 380px;
        max-width: 172px
    }

    .modal-wrapper .modal-content .inner-content .recommended-text {
        font-size: .9em
    }

    .modal-wrapper .modal-content .inner-content .btn {
        font-size: 1.2em
    }

    .x2x-btl img {
        max-width: 136px !important
    }
}

.three_one_btl img {
    width: 100%;
    max-width: 750px !important;
}

.pop_txt {
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    color: #000;
    margin-bottom: 10px;
}

.modal-content1 {
    border-radius: 0 !important;
    max-width: 715px;
}

@media (max-width: 1440px) {
    .modal-wrapper1 {
        padding-top: 15%;
    }
}

@media (max-width: 1140px) {
    .modal-wrapper1 {
        padding-top: 22%;
    }
}

@media (max-width: 768px) {
    .modal-wrapper1 {
        padding-top: 25%;
    }
}

