.d-flex {
        display: flex;
        align-items: center;
        gap: 10px;
}
.text-center {
    text-align: center;
}
h1.small-title.text-center {
    font-size: 35px;
}
.star_img {
    width: 100%;
    max-width: 245px;
    margin: 0 auto;
    display: block;
    padding: 0.5rem 0;
}
.review_txt {
    color: #888;
    font-size: 1.65rem;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.mt-50 {
    margin: 50px 0px 0px;
}
    .subTitle {
        color: #354459;
        font-size: 45px;
    }
    #navigation {
        text-align: center;
    }
    .seeMoreComments {
        color: #999;
        width: 95%;
        max-width: 375px;
        text-align: center;
        margin: 0 auto;
        padding: 15px;
        border-radius: 5px;
        background: linear-gradient(0deg, #e8e8e8 0, #fdfdfd 100%);
        border: 1px solid #d7d7d7;
        font-weight: 700;
        outline: 0;
        font-family: inherit;
        font-size: 14px;
        cursor: pointer;
    }
    #navigation .pagination {
        justify-content: center;
    }
    #nextBtn, #prevBtn {
        border: 1px solid #ddd;
        padding: 10px 20px;
        color: #5f6368;
        cursor: pointer;
        max-width: fit-content;
        width: 100%;
        background-color: #fff;
    }
    button#prevBtn:disabled, button#prevBtn[disabled] {
        border: 1px solid #f8f8f8;
        background-color: #ededed;
        color: #b9b9b9;
    }
    .mb-15
    {
      margin-bottom: 15px;
    }
    .u-name {
        font-size: 20px;
    }
    .comments-box-wrapper h5, .comments-box-wrapper p, .comments-box-wrapper h3
    {
       font-family: 'Nunito-Regular', sans-serif;
    }
    
    .comments-box__heading {
        /* text-align: center; */
        font-style: italic;
        margin-top: .7em;
        margin-bottom: .7em;
        font-size: 22px;
        font-weight: 700;
       
        line-height: 1.3;
    }
    .user-img {
        max-width: 45px;
    }
     .comments-box {
        margin-bottom: 20px;
        border: 1px solid #e3dede;
        padding: 20px;
        overflow: hidden;
        /* box-shadow: 0 6px 9px 0 #00000029; */
    /*    display: none;*/
        border-radius: 20px;
        background: #FCFCFC;
    }
    .hide-box
    {
        display: none;
    }
    
    /* line 10, assets/sass-modules/_comments-box.scss */
     .comments-box-wrapper {
      background-color: #fff;
    }
    
    .vartfiy-txt {
        color: #229B17;
        font-weight: 200;
        position: relative;
        margin-left: 26px;
          font-size: 20px;
        position: relative;
    }
    .vartfiy-txt:before {
        content: '';
        background-image: url('../images/verified.png');
        height: 20px;
        width: 21px;
        position: absolute;
        background-size: contain;
         /* top: 0; */
        left: -22px;
        background-repeat: no-repeat;
        /* margin-right: 4px; */
    }
    .star-img {
        max-width: 90px;
    }
    .verified-img {
        max-width: 20px;
    }
    /* line 14, assets/sass-modules/_comments-box.scss */
     
    
    /* line 21, assets/sass-modules/_comments-box.scss */
    /* .comments-box p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #000000;
    }*/
    .testimonials-section p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #000000;
    }
    /* line 25, assets/sass-modules/_comments-box.scss */
     .comments-box__details {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      font-size: 14px;
      margin-top: 2em;
    }
    
    /* line 33, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-actions {
      -ms-flex-order: 3;
          order: 3;
      margin: 1em auto 0;
      width: 100%;
    }
    
    /* line 38, assets/sass-modules/_comments-box.scss */
    .comments-box__details .u-actions .hint {
        /* margin-bottom: 7px; */
        color: #4D4D4D;
        /* text-align: center; */
    }
    
    /* line 44, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-actions__wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      gap: 1em;
    }
    
    /* line 51, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-actions__wrapper img {
      max-width: 15px;
      margin: 0 auto;
    }
    
    /* line 56, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-actions__wrapper .btn {
        position: relative;
        border: 1px solid #bcbdc2;
        padding: 8px 20px;
        background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
        color: #5C5C5C;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        -ms-flex: 100%;
        flex: 100%;
        cursor: pointer;
        font-size: 20px !important;
    }
    
    /* line 69, assets/sass-modules/_comments-box.scss */
    .comments-box__details .u-actions__wrapper .btn:not(.btn__helpful) {
        all: unset;
        position: relative;
        color: #5C5C5C;
        -ms-flex: auto;
        flex: auto;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
    }
    
    /* line 80, assets/sass-modules/_comments-box.scss */
    .comments-box__details .u-actions__wrapper .btn:not(.btn__helpful) {
        all: unset;
        position: relative;
        color: #666166;
        -ms-flex: auto;
        flex: auto;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
    }
    .comments-box__details .u-actions__wrapper .btn:not(:first-child):before {
        content: '';
        background-color: #a7a4a4;
        position: absolute;
        height: 80%;
        width: 1px;
        left: -7px;
        top: 50%;
        -webkit-transform: translateY(-50%);
         transform: translateY(-50%); 
    }
    
    /* line 92, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-rating {
      -ms-flex-order: 1;
          order: 1;
      max-width: 135px;
    }
    
    /* line 97, assets/sass-modules/_comments-box.scss */
     .comments-box__details .u-name {
      -ms-flex-order: 2;
          order: 2;
      font-weight: 700;
    }
    
    /* line 105, assets/sass-modules/_comments-box.scss */
    .navigation .see-more-comments {
        display: none;
        color: #00758E;
        width: 87%;
        margin: 0 auto;
        padding: 10px 0px;
        /* border-radius: 5px; */
        background: transparent;
        border: 1px solid #000000;
        font-weight: 700;
        outline: none;
        font-family: inherit;
        font-size: 22px;
        cursor: pointer;
        font-style: italic;
        font-family: 'Nunito-Regular', sans-serif;
        text-align: left;
        border-width: 1px 0px;
    }
    
    /* line 122, assets/sass-modules/_comments-box.scss */
     .navigation .see-more-comments.active {
      display: block;
    }
    
    /* line 126, assets/sass-modules/_comments-box.scss */
     /*.navigation .see-more-comments:not([disabled]):active,  .navigation .see-more-comments:not([disabled]):focus,  .navigation .see-more-comments:not([disabled]):hover {
      background: #2f9acf;
    }*/
    
    /* line 133, assets/sass-modules/_comments-box.scss */
     .navigation .see-more-comments svg {
      margin-right: 10px;
      vertical-align: sub;
    }
    
    /* line 139, assets/sass-modules/_comments-box.scss */
     .navigation .pagination {
        font-size: 18px;
        margin: 20px auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        /* align-items: center; */
        -ms-flex-pack: center;
        /* justify-content: center; */
        gap: 10px;
    }
    
    /* line 147, assets/sass-modules/_comments-box.scss */
    .navigation .pagination__item {
        border: 1px solid #ddd;
        padding: 10px 15px;
        color: #989898;
        cursor: pointer;
        /* display: none; */
    }
    .mb-50{
        margin-bottom:50px;
    }
    /* line 153, assets/sass-modules/_comments-box.scss */
     .navigation .pagination__item.disabled {
      background-color: #f0f0f0;
      color: #c8c8c8;
      pointer-events: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    
    /* line 160, assets/sass-modules/_comments-box.scss */
     .navigation .pagination__item.active {
      background-color: #f0f0f0;
      border-color: #ddd;
    }
    
    /* line 165, assets/sass-modules/_comments-box.scss */
     .navigation .pagination__item:first-child {
        border:1px solid #ddd;
      border-radius: 5px;
     
          display: block !important;
    }
    
    .navigation .pagination__item:first-child:before {
        content: '<';
        
    }
    /* line 170, assets/sass-modules/_comments-box.scss */
    
     .navigation .pagination__item:last-child {
        border:1px solid #ddd;
      border-radius: 5px;
          display: block !important;
    }
    .testimonials-section .current
    {
       border:1px solid #ddd;
        border-radius: 5px;  
       background-color: #f0f0f0;
      border-color: #ddd;
      padding: 10px;
    }
    .navigation .pagination__item:last-child:after
    {
     content: '>';
    }
    @media only screen and (min-width: 370px) {
      /* line 180, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions__wrapper {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: justify;
            justify-content: space-between;
      }
      /* line 185, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions__wrapper .btn__helpful {
        -ms-flex: auto;
            flex: auto;
      }
    }
    
    @media only screen and (min-width: 576px) {
      /* line 195, assets/sass-modules/_comments-box.scss */
       .comments-box__details {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-align: end;
            align-items: flex-end;
      }
      /* line 199, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions {
        width: auto;
      }
      /* line 203, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-name {
        -ms-flex-order: 4;
            order: 4;
      }
      /* line 208, assets/sass-modules/_comments-box.scss */
       
      /* line 214, assets/sass-modules/_comments-box.scss */
       .navigation .see-more-comments {
        width: 100%;
      }
    }
    
    @media only screen and (min-width: 768px) {
      /* line 223, assets/sass-modules/_comments-box.scss */
       .comments-box {
        padding: 42px 35px;
    }
      /* line 227, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions {
        -ms-flex-order: 2;
            order: 2;
        margin: 0;
        width: auto;
      }
      /* line 232, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions__wrapper {
        gap: 1.5em;
      }
      /* line 235, assets/sass-modules/_comments-box.scss */
       .comments-box__details .u-actions__wrapper .btn:not(:first-child):before {
        left: -12px;
      }
    }
    
    .dis-mbl
    {
      display: none;
    }
    
    .testimonials-section .current, .testimonials-section  .page-link {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: transparent !important;
        border-color: #ddd !important;
        padding: 10px 20px;
        color: #989898 !important;
        box-shadow: none !important;
        font-family: 'Nunito-Regular', sans-serif;
        font-weight: 500;
    }
    .simple-pagination .prev:first-child:before {
        content: ' <';    
    }
    .simple-pagination .next:first-child:after
    {
       content: ' >';     
    }
    .simple-pagination .prev, .simple-pagination .next  {
       padding: 10px 30px !important;
    }
    .simple-pagination {
        margin-top: 20px !important;
    }
    @media (max-width:1024px)
    {
    .comments-box__heading {
        font-size: 26px;
    }
    .comments-box p, .u-name {
        font-size: 23px;
    }
    .comments-box__details .u-actions__wrapper .btn {
        font-size: 23px !important;
    }
    
    }
    
    @media (max-width:768px)
    {
      section.testimonials-section {
        padding: 0 30px;
    }
    }
    
    @media (max-width:500px)
    {
      .mb-50 {
        margin-bottom: 30px;
    }
    
    .subTitle {
        color: #354459;
        font-size: 33px;
    }
    
    section.testimonials-section {
        padding: 0 20px;
    }
    .comments-box__heading {
        font-size: 18px;
        line-height: 1.5;
    }
    .navigation .pagination {
        font-size: 14px;
        margin-left: 10px;
    }
    .comments-box__details .u-actions__wrapper .btn:not(.btn__helpful) {
       
        flex: inherit;
        
    }
    .user-img {
        max-width: 40px;
    }
    .testimonials-section  p {
        font-size: 17px;
    }
    .u-name {
        font-size: 20px;
        align-self: center;
    }
    .vartfiy-txt {
        font-size: 16px !important;
    }
    
    .star-img {
        max-width: 140px;
    }
    .dis-mbl
    {
      display: block;
    }
    .dis-dsk
    {
      display: none;
    }
    .col-dir
    {
      flex-direction: column;
    }
    .col-12
    {
      flex: 100%;
    }
    .col-6
    {
      flex:50%;
    }
    .comments-box__details .u-actions__wrapper {
    
        flex-wrap: wrap !important;
        
    }
    .comments-box__details .u-actions__wrapper .btn {
        font-size: 17px !important;
    }
    .navigation .see-more-comments {
        font-size: 20px;
    }
    .d-flex {
        align-items: flex-start;
    
    }
    .comments-box__details {
        
        margin-top: 0em; 
    }
    .comments-box__details .u-actions {
        
        margin: 0;
        width: 100%;
    }
    .simple-pagination .prev, .simple-pagination .next {
        padding: 10px 20px !important;
    }
    }
    
    @media(max-width:390px){
          .subTitle {
            font-size: 28px;
        }
    }
    
    @media (max-width:320px)
    {
    
    section.testimonials-section {
        padding: 0 15px;
    }
    }
    
    .comments-box.active:before{
        display: none;
    }
       