.video__wrapper.video__fullscreen {
    display: block
}

.video__wrapper.video__fullscreen:before, .video__wrapper.video__fullscreen:after {
    content: none
}

.video__wrapper.video__fullscreen .header__content {
    max-width: 100% !important;
    margin: 0;
    height: 100vh;
    width: 100%
}

.video__wrapper.video__fullscreen .header__content .video {
    padding-bottom: 0
}

.video__wrapper.video__fullscreen .header__content .video.playing {
    outline: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.video__wrapper.video__fullscreen .header__content .video.playing .video__overlay--thumb {
    display: none
}

.video {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #707070;
    margin: 0 auto 1.5em auto;
    border-radius: 15px;
    padding-bottom: 56.25%;
    height: 0
}

.video__inner-wrapper {
    margin: 0 auto
}

.video.playing .video__overlay.unmute-btn {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/unmute_icon.png');
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: center;
    transform: scale(1);
    animation: pulseBtn 2s infinite;
}

.video.playing .video__overlay--thumb {
    display: none
}

.video .video__overlay--thumb {
    display: block
}

.video .video__overlay--thumb .video__thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #000;
    visibility: visible;
    -o-object-fit: contain;
    object-fit: contain
}

.video .video__overlay--thumb .video__play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    max-width: 100%;
    z-index: 3;
    -webkit-animation: pulsing 1.5s infinite;
    animation: pulsing 1.5s infinite;
    display: none
}

.video .video__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
    z-index: 1;
    /*pointer-events: none*/
}

.video .video__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

@media screen and (orientation: portrait) {
    .video {
        padding-bottom: 149%
    }

    .video.landscape {
        display: none;
        pointer-events: none
    }

    .video .video__overlay--thumb .video__thumb {
        -o-object-fit: fill;
        object-fit: fill
    }
}

@media screen and (orientation: landscape) {
    .video.portrait {
        display: none;
        pointer-events: none
    }
}

@media (max-width: 1536px) {
    .video__inner-wrapper {
        width: 100%;
        max-width: 929px;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) {
    .video {
        padding-bottom: 110%
    }
}

@keyframes pulseBtn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}