.modal-wrapper {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.7490196078);
    font-family: "Work Sans", sans-serif;
}

.ylw-text {
    color: #ffff01;
}

.modal-wrapper.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
    overflow: hidden;
}

.modal-wrapper.active .modal-content {
    opacity: 1;
}

.modal-wrapper .modal-content {
    z-index: 1;
    opacity: 0;
    transition: opacity;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2117647059);
    border-radius: 5px;
    background-color: #f0f1f2;
    border: 5px solid #ffbf00;
    color: #4e4e4e;
    max-width: 715px;
    width: 95%;
    height: auto;
    font-size: 18px;
}

.modal-wrapper .modal-content img {
    width: 100%;
}

.modal-wrapper .modal-content .close-modal:not(a) {
    outline: none;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 2%;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.modal-wrapper .modal-content .close-modal:not(a):active,
.modal-wrapper .modal-content .close-modal:not(a):focus,
.modal-wrapper .modal-content .close-modal:not(a):hover {
    opacity: 1;
    background: rgba(128, 128, 128, 0.5);
}

.modal-wrapper .modal-content .close-modal:not(a)::before,
.modal-wrapper .modal-content .close-modal:not(a)::after {
    content: " ";
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: currentColor;
}

.modal-wrapper .modal-content .close-modal:not(a)::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-wrapper .modal-content .close-modal:not(a)::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-wrapper .modal-content .header-wrapper {
    background-color: #375c6d;
    padding: .8em 1em;
    text-align: center;
    color: #fff;
}

.modal-wrapper .modal-content .header-wrapper .img-wrapper {
    max-width: 350px;
    margin: 0 auto;
}

.modal-wrapper .modal-content .header-wrapper .sub-heading {
    font-family: Merriweather, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.modal-wrapper .modal-content .inner-content {
    padding: 1em 1.5em .5em;
}

.modal-wrapper .modal-content .inner-content .bottles-img {
    max-width: 550px;
    margin: 0 auto .5em;
}

.modal-wrapper .modal-content .inner-content .recommended-text {
    font-size: .9em;
    font-style: italic;
    margin-right: 1em;
    margin-left: 1em;
    color: #000;
}

.modal-wrapper .modal-content .inner-content .btn {
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: .6em 1em;
    margin-top: .7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.modal-wrapper .modal-content .inner-content .btn.btn__atc {
    background: linear-gradient(180deg, #ffd500, gold, #ffd900, #ffdb00, #ffde00, #ffe000, #ffe200, #ffe400);
    border: 2px solid #aaa;
    color: #000;
}

.modal-wrapper .modal-content .inner-content .btn.btn__decline {
    background: #375c6d;
    border: 2px solid #375c6d;
}

.modal-wrapper.exit-intent .modal-content {
    background-image: url("/assets-mbn/images/exit-bg.webp");
    background-repeat: no-repeat;
    background-clip: padding-box;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2117647059);
    width: 100%;
    max-width: 890px;
    font-size: 20px;
    height: auto;
    padding: 2em 0px 2em;
    text-align: center;
    background-size: cover;
    background-position: center;
    border: 1px solid yellow;
    margin: 10% auto 0;
}

.modal-wrapper.exit-intent .modal-content .close-modal:not(a) {
    position: absolute;
    right: 1%;
    top: 1%;
    background: #4e4e4e;
}

.modal-wrapper.exit-intent .modal-content .sub-content {
    padding: 0px 20px;
    margin-bottom: 20px;
}

.modal-wrapper.exit-intent .modal-content .sub-content p {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 14px;
}

.modal-wrapper.exit-intent .modal-content .heading {
    font-size: 3.3em;
    line-height: 1;
    font-weight: 600;
    color: #ffff01;
    background-color: #375c6d;
    padding: 20px 0px;
}

.modal-wrapper.exit-intent .modal-content .subheading {
    font-size: 33px;
    font-weight: 600;
    line-height: 38px;
    color: #ffffff;
    margin-bottom: 0.7em;
    padding: 30px 0px 0px;
}

.modal-wrapper.exit-intent .modal-content .timer {
    font-family: "Oswald", sans-serif !important;
    width: 100%;
    max-width: 180px;
    margin-left: 10px;
}

.modal-wrapper.exit-intent .modal-content .btns-row .close-modal {
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, #f90 0, #ffd500 100%);
    padding: 24px 0px;
    border-radius: 15px;
    border: 2px solid rgb(255, 176, 56);
    align-self: center;
}

.modal-wrapper.exit-intent .modal-content .btns-row .prfr-btn {
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, #8a8a8a 0, #b0b0b0 100%);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #b1b1b1;
}

.modal-wrapper.exit-intent .modal-content .btns-row a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    display: block;
}

.modal-wrapper.exit-intent .modal-content .btns-row {
    padding: 0px 35px;
    display: flex;
    justify-content: space-around;
}

.modal-wrapper.exit-intent .modal-content a.close-modal {
    background-color: rgba(251, 56, 56, 0.7);
    color: #fff;
    box-shadow: 0 3px 6px #834e4e;
    display: block;
    text-decoration: none;
    line-height: 1.2;
    transition: 0.3s ease-in-out;
}

.modal-wrapper.exit-intent .modal-content a.close-modal:hover,
.modal-wrapper.exit-intent .modal-content a.close-modal:active,
.modal-wrapper.exit-intent .modal-content a.close-modal:focus {
    background-color: #8c0e0e;
}

@media (max-width: 768px) {
    .modal-wrapper .modal-content {
        border: none;
        font-size: 16px;
    }

    .modal-wrapper.exit-intent .modal-content .subheading {
        font-size: 28px;
        line-height: 32px;
    }

    .modal-wrapper .modal-content .sub-content p {
        font-size: 21px;
        margin-bottom: 12px;
    }

    .modal-wrapper .modal-content .sub-content {
        padding: 0px 20px;
        margin-bottom: 21px;
    }

    .modal-wrapper .modal-content .btns-row a {
        font-size: 22px;
    }

    .modal-wrapper .modal-content .btns-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .modal-wrapper.exit-intent .modal-content .heading {
        font-size: 48px;
        padding: 15px 0px;
    }
}

@media (max-width: 500px) {
    .modal-wrapper .modal-content .header-wrapper {
        padding: .8em;
    }

    .modal-wrapper .modal-content .header-wrapper .img-wrapper {
        max-width: 320px;
    }

    .modal-wrapper .modal-content .header-wrapper .sub-heading {
        font-size: .9em;
    }

    .modal-wrapper .modal-content .inner-content {
        padding: 1em .7em .5em;
    }

    .modal-wrapper .modal-content .inner-content .bottles-img {
        max-width: 360px;
        margin-bottom: 0;
    }

    .modal-wrapper .modal-content .inner-content .btn {
        font-size: .9em;
    }

    .modal-wrapper.exit-intent .modal-content .subheading {
        font-size: 25px;
        line-height: 29px;
        padding: 16px 0px 0px;
    }

    .modal-wrapper .modal-content .sub-content p {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .modal-wrapper .modal-content .btns-row a {
        font-size: 20px;
    }

    .modal-wrapper .modal-content .btns-row .close-modal {
        padding: 19px 0px;
    }

    .modal-wrapper.exit-intent .modal-content {
        background-image: url("/assets-mbn/images/exit-bg-mbl.webp");
    }
}

@media (max-width: 428px) {
    .modal-wrapper.exit-intent .modal-content .subheading {
        font-size: 21px;
        line-height: 29px;
    }

    .modal-wrapper .modal-content .sub-content p {
        font-size: 16px;
    }

    .modal-wrapper .modal-content .btns-row .close-modal {
        padding: 16px 0px;
        max-width: 285px;
    }

    .modal-wrapper .modal-content .btns-row .prfr-btn {
        max-width: 285px;
    }

    .modal-wrapper .modal-content .btns-row a {
        font-size: 18px;
    }

    .modal-wrapper.exit-intent .modal-content .heading {
        font-size: 37px;
        padding: 8px 0px;
    }
}

@media (max-width: 390px) {
    .modal-wrapper.exit-intent .modal-content .subheading {
        font-size: 20px;
        line-height: 25px;
    }

    .modal-wrapper .modal-content .btns-row .close-modal {
        padding: 14px 0px;
    }

    .modal-wrapper .modal-content .btns-row .prfr-btn {
        padding: 4px;
    }
}

@media (max-width: 320px) {
    .modal-wrapper.exit-intent .modal-content .subheading {
        font-size: 18px;
    }

    .modal-wrapper .modal-content .btns-row a {
        font-size: 15px;
    }

    .modal-wrapper .modal-content .sub-content p {
        font-size: 15px;
    }
}